@media screen and (min-width:900px) {
    h1 {
        font-family: "IBM Plex Sans", sans-serif;
        font-size: 3.43rem;
        font-weight: 400;
        color: #060A24;
        letter-spacing: 0;
        line-height: 42px;
    }
    h2 {
        font-family: "IBM Plex Sans", sans-serif;
        font-size: 1.7rem;
        font-weight: 600;
        color: #060A24;
        letter-spacing: 0;
        text-align: center;
    }
    
    p {
        font-family: "IBM Plex Mono", monospace;
        font-size: 1.14rem;
        font-weight: 400;
        color: #060A24;
        letter-spacing: 0;
        line-height: 24px;
    }

    .buttons {
        background-color: #00F3BB;
        border: 0px;
        font-family: "IBM Plex Mono", monospace;
        font-size: 1.3rem;
        font-weight: 500;
        color: #060A24;
        letter-spacing: 0;
        text-align: center;
        line-height: 24px;
        height: 56px;
    }

    .header {
        height: 80px;
        padding: 0px 100px;
    }

    .header .logo {
        height: 36px;
        width: 36px;
    }

    .header .navMenuMobile {
        display: none;
    }

    .header .navMenuDescktop {
        display: block;
        width: 482px;
        justify-content: space-between;
        align-items: center;
    }

    .header .navMenuDescktop .menuDescktop li {
        list-style-type: none;
        margin-right: 48px;
    }

    .header .navMenuDescktop .menuDescktop li:last-child {
        margin-right: 0px;
    }

    .header .navMenuDescktop .menuDescktop a {
        font-family: "IBM Plex Mono", monospace;
        font-size: 1.14rem;
        color: #060A24;
        letter-spacing: 0;
        line-height: 28px;
        text-decoration: none;
    }

    .header .navMenuDescktop .menuDescktop a:hover {
        color: #00F3BB;
        text-decoration: line-through;
    }

    .header .navMenuDescktop .menuDescktop a:active {
        color: rgba(6,10,36,0.56);
        text-decoration: line-through;
    }

    .main .welcome {
        height: 369px;
        align-items: flex-start;
        padding: 120px 200px 5px;
    }

    .main .welcome .titleWelcome {
        height: 84px;
        padding: 10px 0px;
        font-size: 4.6rem;
    }

    .main .welcome .titleWelcome span.point {
        color: #0000EC;
    }

    .main .welcome .paragraphWelcome {
        display: none;
    }

    .main .welcome .paragraphWelcomeDescktop {
        display: block;
        width: 628px;
        height: 48px;
    }

    .main .welcome .buttonWelcome {
        width: 226px;
        margin: 56px 0px 0px;
    }

    .main .episodes {
        clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
        padding: 186px 100px 206.6px;
    }

    .main .episodes .titleEpisodes {
        margin-left: 100px;
        padding: 0px;
    }

    .main .episodes .containerEpisodes {
        height: 376px;
        width: 86vw;
        margin: 26px 0px;
        padding: 0px;
        padding-top: 0px;
        justify-content: space-between;
        align-items: flex-start;
    }

    .main .episodes .containerEpisodes iframe {
        height: 152px;
        width: 584px;
    }

    .main .episodes .containerEpisodes iframe:nth-child(1), .main .episodes .containerEpisodes iframe:nth-child(2) {
        margin-bottom: 60px;
    }

    .main .us {
        height: 555.4px;
        padding: 0px;
        justify-content: center;
        align-items: flex-start;
    }

    .main .us .phoneUs {
        height: 660px;
        width: 457.6px;
        margin-top: -160px;
    }

    .main .us .textUs {
        height: 302px;
        width: 464px;
        margin: 20.4px 56px 0px 62.4px;
    }

    .main .us .textUs .paragraphUs {
        margin: 24px 0px 22px ;
    }

    .main .interviews {
        height: 890px;
    }

    .main .interviews .titleInterviews {
        margin: 0px 0px 36px 200px;
    }

    .main .interviews .containerImages {
        margin-bottom: 64px;
    }

    .main .interviews .containerImages .imageInterviews {
        width: 33.33vw;
        height: 364px;
    }

    .main .topics {
        height: 362px;
        padding: 0px 200px 36px;
    }

    .main .topics .containerTopics .boxTopics {
        width: 25%;
        margin: 56px 0px 34px;
        justify-content: flex-start;
    }

    .main .topics .containerTopics .boxTopics .imagesTopics {
        width: 104px;
        height: 104px;
        margin-bottom: 16px;
    }

    .aside {
        height: 518px;
        clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
        padding: 213px 0px 151px;
        justify-content: space-between;
    }

    .aside h1.titleAside {
        width: 100%;
    }

    .aside .buttonAside {
        height: 56px;
        width: 345px;
        margin: 36px 0px 0px;
    }

    .footer {
        height: 95px;
        justify-content: space-between;
        padding: 0px 100px;
    }

    .footer .containerIcons .icons {
        height: 28px;
        width: 18px;
    }
    svg {
        fill: #000000;

    }
    svg:hover {
        fill: #00F3BB;
    }
}